#outter {
	height: 100%;
	position: relative;
	align-content: center;
}

#inner{
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -40%);
}

#center {
	display:inline-block;
	text-align:center;
}

a {
	color: #8243f7;
}
a:hover {
	color: #8243f7;
}

/* Main section*/
#top {
	margin-bottom: 2em;
}
.parentMain {
	display: flex;
 	flex-wrap: wrap;
}

.card {
	border: 0;
}

h5 {
	font-size: 2rem;
}

.icon {
	max-width: 2.3em;
	margin-right: 2%;
	transition: transform .2s; /* Animation */
}
.icon:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Nav buttons */
.parentNav {
	display: flex;
 	flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 10em;
}

.child {
	flex: 1 0 21%;
  	margin: 5px;
}

button {
	width: 8em;
}

.btn-primary {
	background-color: #c7acfa;
	border-color:  #c7acfa;
	border-radius: 25px;
}

.btn-primary:hover {
	background-color: #8243f7;
	border-color:  #8243f7;
}

/* Image */
.headshot {
	max-width: 15em;
	border-radius: 50%;
}
