.container {
	padding-top: 10em;
}

#center {
	display:inline-block;
	text-align:center;
}

a {
	color: #8243f7;
}
a:hover {
	color: #8243f7;
}

/* Main section*/
#top {
	margin-bottom: 2em;
}
.parentMain {
	display: flex;
 	flex-wrap: wrap;
}

.card {
	border: 0;
}

.card-text {
	padding-left:2.8em;
	font-size: 1.05rem;
}

.card-body {
	padding: 0;
}

.popupBorder {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-right:2.8em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

h5 {
	font-size: 2rem;
}

.icon {
	max-width: 2em;
	margin: .5em;
	transition: transform .2s; /* Animation */
}
.icon:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grey {
	color: #878787;
}

.row {
	justify-content: center;
}

/* Nav buttons */
.parentNav {
	display: flex;
 	flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 10em;
}

.child {
	flex: 1 0 21%;
  	margin: 5px;
}

button {
	/*width: 8em;*/
}

.btn-primary {
	background-color: #c7acfa;
	border-color:  #c7acfa;
	border-radius: 25px;
}

.btn-primary:hover {
	background-color: #8243f7;
	border-color:  #8243f7;
}

.btn-primary:active {
	background-color: #8243f7;
	border-color:  #8243f7;
}

/* Image */
.headshot {
	max-width: 15em;
	max-height: 25em;
	border-radius: 50%;
}
